/* =================== General =================== */
body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li[class*="Voice_voiceState"]{
    width: 57px;
    height: 90px;
    margin: 30px 5px 5px 5px;
    position: static;
    display: inline-block;
}

/* =================== IcÃ´nes de classes =================== */
li[data-userid] div:before {
    position: absolute;
    aspect-ratio: 1;
    width: 57px !important;
    background-position: center;
    background-size: 35px, contain;
    background-repeat: no-repeat;
    margin: -120px auto 0;
    z-index: 100;
    filter: drop-shadow(0 2px 4px black);
    opacity: 0.5;
}

/* =================== Avatars =================== */
img[class^="Voice_avatar"] {
    border-radius: 20px;
    aspect-ratio: 1;
    width: 57px;
    height: 57px;
    margin: -3px;
    opacity: 0.5;
}
/* Avatar :: en train de parler */
img[class*="Speaking"] {
    border-color: rgba(0, 255, 0, 0.7);
    position: relative;
    opacity: 1;
	filter: drop-shadow(0 2px 4px black);
}
/* Avatar :: mute */
li[class*="self_mute"] img {
    border-color:rgba(255, 0, 0,1);
}
/* Avatar :: mute (petit icÃ´ne de micro coupÃ©) */
li[class*="self_mute"]:not(li[class*="self_deaf"]):after { 
    content:'';
    position: absolute;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid rgba(255,0,0,0.5);
    margin-top: -20px;
    margin-left: -20px;
    background-color: rgba(0,0,0,0.7);
    background-image: var(--mute);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    filter: brightness(70%);
}
/* Full mute : AFK Icon */
li[class*="self_mute self_deaf"]:after {
    content:'';
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    margin-top: -30px;
    margin-left: -26px;
    background-image: var(--afk);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(70%); */
    filter:drop-shadow(0 4px 2px black);
}

/* =================== Pseudos =================== */
div[class*="user"]{
    background: rgba(0,0,0,.7);
    border-radius: 3px;
    display: inline-block;
}
/* Text container */
div[class*="voice_username"] {
    width: 100%;
    height: 17px;
    padding: 3px 0;
    margin-top: 10px;
}
/* Text */
span[class^="Voice_name"]{
    display: inline-block;
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    line-height: 15px !important;
    vertical-align: center;
    padding: 1px !important; 
    background-color: rgba(0, 0, 0, 0) !important;
    text-align: center;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: " ";
}
/* Custom pseudo properties */
li[data-userid] div span:after {
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
}
li[class~="wrapper_speaking"] div:before {
	opacity: 1 !important;	
}

/* =================== Custom Job Icons =================== */

li div:before { content:''; }

/* NÃ©anmoins */
li[data-userid="137200081727258624"] div:before { background-image: var(--icon-WAR); } /* Kez */
li[data-userid="133266106340081664"] div:before { background-image: var(--icon-BRD); } /* LÃ©na */
li[data-userid="257087591596163075"] div:before { background-image: var(--icon-DRG); } /* Sepi */
li[data-userid="134306647404183553"] div:before { background-image: var(--icon-SMN); } /* Douhbée */
li[data-userid="183895066853507072"] div:before { background-image: var(--icon-SCH); } /* Susus */
li[data-userid="99897349144330240"]  div:before { background-image: var(--icon-PLD); } /* Lucas */
li[data-userid="242393149979361281"] div:before { background-image: var(--icon-WHM); } /* Mite */
li[data-userid="207170760710684673"] div:before { background-image: var(--icon-RDM); } /* Frangi */

/* =================== Custom Pseudos =================== */

/* Remember to add a blank space after a custom pseudo to keep the central alignment */
li[data-userid="137200081727258624"] div span { visibility: hidden }
li[data-userid="137200081727258624"] div span:before { visibility: visible; content: 'Kezziah '; }
li[data-userid="543157080782012436"] div span { visibility: hidden }
li[data-userid="543157080782012436"] div span:before { visibility: visible; content: 'Lena '; }
li[data-userid="257087591596163075"] div span { visibility: hidden }
li[data-userid="257087591596163075"] div span:before { visibility: visible; content: 'Sephi '; }
li[data-userid="134306647404183553"] div span { visibility: hidden }
li[data-userid="134306647404183553"] div span:before { visibility: visible; content: 'Douhbee '; }
li[data-userid="183895066853507072"] div span { visibility: hidden }
li[data-userid="183895066853507072"] div span:before { visibility: visible; content: 'Sulein '; }
li[data-userid="99897349144330240"]  div span { visibility: hidden }
li[data-userid="99897349144330240"]  div span:before { visibility: visible; content: 'Lucas '; }
li[data-userid="242393149979361281"] div span { visibility: hidden }
li[data-userid="242393149979361281"] div span:before { visibility: visible; content: 'Mite '; }
li[data-userid="207170760710684673"] div span { visibility: hidden }
li[data-userid="207170760710684673"] div span:before { visibility: visible; content: 'Frangi '; }

/* =================== Icon bank =================== */
:root {
    /* Tanks */
    --icon-PLD: url('https://i.imgur.com/ZZe9os3.png');
    --icon-WAR: url('https://i.imgur.com/z2vTKyo.png');
    --icon-DRK: url('https://i.imgur.com/gq9boC6.png');
    --icon-GNB: url('https://i.imgur.com/82JZe5l.png');
    /* Healers */
    --icon-WHM: url('https://i.imgur.com/sqjReDl.png');
    --icon-AST: url('https://i.imgur.com/0EBgVM5.png');
    --icon-SGE: url('https://i.imgur.com/KcxhkRQ.png');
    --icon-SCH: url('https://i.imgur.com/fnJCxLm.png');
    /* Melee DPS */
    --icon-DRG: url('https://i.imgur.com/cJstWr2.png');
    --icon-RPR: url('https://i.imgur.com/EtGTFMv.png');
    --icon-SAM: url('https://i.imgur.com/BClFMUo.png');
    --icon-NIN: url('https://i.imgur.com/2gx74TE.png');
    --icon-MNK: url('https://i.imgur.com/ulwir9V.png');
    --icon-VPR: url('https://i.imgur.com/dxDUrA4.png');
    /* Caster DPS */
    --icon-SMN: url('https://i.imgur.com/uKHgPIZ.png');
    --icon-BLM: url('https://i.imgur.com/gIrSujv.png');
    --icon-RDM: url('https://i.imgur.com/ZVVAwGI.png');
    --icon-PCT: url('https://i.imgur.com/PAPtE3N.png');
    /* Ranged DPS */
    --icon-BRD: url('https://i.imgur.com/nfnr8Q4.png');
    --icon-DNS: url('https://i.imgur.com/BXAs55F.png');
    --icon-MCH: url('https://i.imgur.com/2cQj3wD.png');

    /* Icon bank */
    --disconnected: url('https://cdn.discordapp.com/emojis/1097683807701840077.webp');
    --afk: url('https://i.imgur.com/4Fid9r2.png');
    --mute: url('https://i.imgur.com/CQyMXDO.png');
}